/* FONT-FAMILIES */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "clock-font";
  src: url("./fonts/digital-7.ttf");
}

/* GENERAL STYLING */
:root {
  --sub-text: #adadad;
  --hover: #4cc9f0;
  --hover-dark: #2aa8d0;
  --danger: #ea3546;
  --glow-heavy: #0ff;
  --glow-light: #4dd;
  --white: #fff;
  --black: #000;
  --grey-1: #dedede;
  --grey-2: #ced4da;
}

html[data-theme="light"] {
  --text: #242424;
  --nav-bg: #f8f9fa;
  --main-bg: #e9ecef;
  --extreme: #000;
}

html[data-theme="dark"] {
  --text: #dedede;
  --nav-bg: #0d1b2a;
  --main-bg: #1b263b;
  --extreme: #fff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

i {
  color: var(--text);
  font-size: 30px;
}

span,
.form-check-label {
  font-size: 1.5rem;
}

i + span,
.form-check-label {
  margin-left: 1rem;
}

/* NAVBAR STYLING */

nav {
  background-color: var(--nav-bg);
  color: var(--text);
  padding: 0.5rem;
  position: sticky;
  top: 0%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 2rem;
  margin-right: 2rem;
}

ul li a {
  color: var(--text);
}

ul li a:hover,
ul li a:hover i {
  color: var(--hover);
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo a img {
  width: 90px;
}

.logo a span {
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
}

.form-check-input {
  font-size: 1.6rem;
  border: 2px solid var(--text) !important;
  background: url("./images/sun.png") !important;
  background-position: left center !important;
  background-size: 24px !important;
  background-repeat: no-repeat !important;
}

.form-check-input:checked {
  border: 2px solid var(--text) !important;
  background: url("./images/crescent-moon.png") !important;
  background-position: right center !important;
  background-size: 18px !important;
  background-repeat: no-repeat !important;
}

.form-check-input:hover {
  cursor: pointer;
  border-color: var(--hover) !important;
}

.form-check-label {
  text-transform: capitalize;
}

/* MAIN STYLING */

main {
  background-color: var(--main-bg);
  color: var(--text);
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current-datetime .time h1,
.current-datetime .date h1 {
  text-align: center;
  width: 100%;
  letter-spacing: 1.5rem;
  font-style: italic;
  font-size: 8rem;
  font-family: "clock-font";
}

.current-datetime .date h1 {
  color: var(--sub-text);
  letter-spacing: 0.5rem;
  font-size: 4rem;
}

/* If in fullscreen mode apply these styles */

.current-datetime:fullscreen {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-datetime:fullscreen .time h1 {
  color: var(--hover);
}

.current-datetime:fullscreen .date h1 {
  color: var(--sub-text);
}

.set-alarm {
  margin: 2rem auto;
  padding: 15px 45px;
  box-shadow: var(--sub-text) 0px 3px 8px;
  background-color: var(--text);
  border: none;
  display: flex;
  align-items: center;
  transition: 0.2s transform ease-in-out;
}

.set-alarm:hover {
  background-color: var(--hover);
  box-shadow: 0px 15px 20px rgba(46, 180, 250, 0.6);
  color: var(--extreme);
}

.set-alarm > img {
  width: 50px;
  margin-right: 1rem;
}

.set-alarm > span {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.active-alarms {
  margin: 2rem auto;
  width: 100%;
}

.active-alarms ul li {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto;
}

.active-alarms ul li span i {
  color: var(--danger);
}

/* MODAL STYLING */

.modal {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-dialog {
  max-width: none;
  width: 40%;
}

.modal-content {
  background-color: var(--main-bg);
}

.modal-header {
  color: var(--text);
  background-color: var(--nav-bg);
}

.modal-header > h1 {
  font-size: 2rem;
}

.modal-header,
.modal-body,
.modal-footer {
  border: none;
}

.btn-close {
  background-color: var(--extreme);
}

.btn {
  border-radius: 2px;
  border: none;
}

.btn-primary {
  background-color: var(--hover);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--hover-dark);
}

.modal-body form div label {
  color: var(--text);
  font-size: 1.4rem;
}

.modal-body form div input {
  width: 100%;
  padding: 6px 10px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: var(--text);
}

/* STOP-WATCH */

.stop-watch-modal-body {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-circle {
  width: 400px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outer-circle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 17px 3px var(--glow-heavy),
    0 0 4px 2px var(--glow-heavy);
  box-shadow: 0 0 17px 3px var(--glow-heavy), 0 0 4px 2px var(--glow-heavy);
}

#stop-watch-timer #hour-min-sec,
#stop-watch-timer #milisec {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 6px;
  color: var(--glow-light);
}

#stop-watch-timer > #milisec {
  top: 45%;
  font-size: 2.5rem;
  margin: 2rem auto;
}

.stop-watch-controls {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stop-watch-controls button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--nav-bg);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 15px, rgba(0, 0, 0, 0.5) 0px 6px 6px;
}

.stop-watch-controls button:active {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.75) 0px 2px 6px 2px;
}

.stop-watch-controls button i {
  color: var(--glow-light);
}

/* LIGHT MODE STYLES */

html[data-theme="light"] .set-alarm {
  background-color: var(--grey-1);
}

html[data-theme="light"] .set-alarm:hover {
  background-color: var(--hover);
}

html[data-theme="light"] .btn-close {
  background-color: var(--grey-2);
}

html[data-theme="light"] .modal-body form div input {
  background-color: var(--nav-bg);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

html[data-theme="light"] .outer-circle::before {
  -webkit-box-shadow: 0 0 17px 3px var(--glow-light),
    0 0 4px 2px var(--glow-light);
  box-shadow: 0 0 17px 3px var(--glow-light), 0 0 4px 2px var(--glow-light);
}

html[data-theme="light"] .stop-watch-controls button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

html[data-theme="light"] .stop-watch-controls button:active {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
